:root {
  /* Colors */
  --color-background: #233A40;
  --color-accent: #8C2E40;
  --color-text: #cdcdcd;
  --color-accent-text: #69AEBF;
  --color-accent-bg: #2b2a2a;

  /* Viewport Width Breakpoints */
  --screen-xs: 576px;
  --screen-sm: 768px;
  --screen-md: 992px;
  --screen-lg: 1200px;
  --screen-xl: 1400px;

  /* base style settings */
  --base-padding: 1rem;
  --base-margin: .5rem;
  --base-border-radius: 8px;
  --base-transition: 0.3s ease-in-out;
  --base-font-size: 18px;
  --base-line-height: 1.4;
  --base-gap: 1rem;

  --content-max-width: 992px;
}

/* Global styles */
@font-face {
  font-family: 'CaviarDreams';
  src: url('./fonts/Caviar_Dreams/caviardreams_regular_macroman/CaviarDreams-webfont.woff');
}

@font-face {
  font-family: 'Quicksand';
  src: url('./fonts/Inter/Inter-Regular.woff') format('woff'),

}


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: var(--base-line-height);
  font-family:
    Quicksand,
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: var(--base-font-size);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3 {
  font-family: 'CaviarDreams', sans-serif;
  font-weight: normal;
  margin: var(--base-margin) 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-accent-text);
}

/*Utility classes*/
.hidden {
  display: none;
}
